@font-face {
  font-family: 'pomidorko';
  src: url('https://fs06.infourok.ru/files/banners/fonts/pomidorko_cyr-webfont.woff2') format('woff2'),
  url('https://fs06.infourok.ru/files/banners/fonts/pomidorko_cyr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pantonbold';
  src: url('https://fs06.infourok.ru/files/banners/fonts/panton-bold-webfont.woff2') format('woff2'),
  url('https://fs06.infourok.ru/files/banners/fonts/panton-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}